<ion-view view-title="Soirée du.{{ma_soiree.date}}">
 <ion-content name="maSoiree">
 <img ng-src="{{ma_soiree.img_soiree}}">
 	<h2>{{ma_soiree.boite}}</h2> 
	<p>{{ma_soiree.date}}</p> 
	<p>{{ma_soiree.heure}}</p> 
<i class="ion-ios-people"></i>
	<p>{{ma_soiree.id_fb}}</p> 
	<p>{{ma_soiree.id_fb1}}</p>
	<p>{{ma_soiree.id_fb2}}</p>
	<p>{{ma_soiree.id_fb3}}</p>
	<p>{{ma_soiree.id_fb4}}</p> 
<button ng-click="login()" class="button add_girl button-block">Inviter des filles</button>
 </ion-content>
</ion-view>