<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="https://cdn.firebase.com/js/client/2.2.7/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">
    <!-- <ion-nav-view></ion-nav-view> -->

  <ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
      <ion-header-bar class="bar bar-header bar-dark" ng-show="logged">
        <span ng-if="route == 'soirees'" class="ion-navicon" ng-click="openSideMenu()"></span>
        <span ng-if="route == 'create'" class="ion-ios-arrow-back" ng-click="goBack()"></span>
        <h1 class="title" style="text-align: center;">{{title}}</h1>
        <span class="ion-ios-plus-outline" ng-click="create()"></span>
      </ion-header-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
      <img ng-src="{{profilepicture}}" alt="image du profil">
      <p class="name">{{profiledata.first_name}}</p>
      <ul class="dash-perso">
          <li>
              <div>
                  <div class="number">0</div>
                  <p class="info">Soirée en cours</p>
              </div>
          </li><!--
          --><li>
              <div>
                  <div class="number">0</div>
                  <p class="info">Invitations reçues</p>
              </div>
          </li><!--
          --><li>
              <div>
                  <div class="number">0</div>
                  <p class="info">Soirées effectuées</p>
              </div>
          </li>
      </ul>
      <div class="tabs-left-menu">
          <div class="profil tab-left-menu">
              <i class="ion-person"></i>
              <p>Mon profil</p>
          </div>
          <div class="logout tab-left-menu">
              <i class="ion-power"></i>
              <p>Se deconnecter</p>
          </div>
      </div>
    </ion-side-menu>
  </ion-side-menus>

  

 </body>
</html>
